body {
  padding: 20px;
  min-width: 700px;
}

div.container {
  padding: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
}

.left {
  width: 200px;
  float: left;
  margin-right: 20px;
}

.left span {
  display: block;
  float: left;
  margin-left: 20px;
}

img.logo {
  float: left;
  border: 1px solid #999;
}

.right {
  width: 82px;
  float: right;
  margin-left: 20px;
}

.right img {
  margin-bottom: 20px;
}

.right img:last-child {
  margin-bottom: 0px;
}

.middle {
  overflow: auto;
}

.middle p:first-child {
  -webkit-margin-before: 0px;
}

.middle p:last-child {
  -webkit-margin-after: 0px;
}

.clearfix:after{
  content: '';
  clear: both;
  display: block;
};
